---
layout: single
title: "Gallery"
permalink: /gallery/
read_time: true
comments: true
share: true
related: true
author_profile: true
gallery:
  - url: /gallery/riverchinesecontryside.jpg
    image_path: /gallery/riverchinesecontryside-l.jpg
    alt: 
    title: "Rivers with yellow water"
  - url: /gallery/lovlyhouse.jpg
    image_path: /gallery/lovlyhouse-l.jpg
    alt: 
    title: "Lovely house at Chinese country side"
  - url: /gallery/canyon.jpg
    image_path: /gallery/canyon-l.jpg
    alt: 
    title: "canyon with Rails at Chinese country side"
gallery2:
  - url: /gallery/greatwallmountain.jpg
    image_path: /gallery/greatwallmountain-l.jpg
    alt: 
    title: "The mountain-view from the Great Wall after snow."
  - url: /gallery/greatwallmount1.jpg
    image_path: /gallery/greatwallmount1-l.jpg
    alt: 
    title: "The mountain-view from the Great Wall after snow."
  - url: /gallery/sukfan.jpg
    image_path: /gallery/sukfan-l.jpg
    alt: 
    title: "Sukfan"
gallery3:
  - url: /gallery/doggystare.jpg
    image_path: /gallery/doggystare-l.jpg
    alt: 
    title: "Doggy stare at me."
  - url: /gallery/doggyhandshaking.jpg
    image_path: /gallery/doggyhandshaking-l.jpg
    alt: 
    title: "Teach doggy shaking hands."
gallery4:
  - url: /gallery/willowbyriverattsinghua.jpg
    image_path: /gallery/willowbyriverattsinghua-l.jpg
    alt: 
    title: "The willow by the river at Tsinghua. "
  - url: /gallery/willowbytheriverattsinghua.jpg
    image_path: /gallery/willowbytheriverattsinghua-l.jpg
    alt: 
    title: "The willow by the river at Tsinghua. "
  - url: /gallery/gymnasiumattsinghu.jpg
    image_path: /gallery/gymnasiumattsinghu-l.jpg
    alt: 
    title: "The old gymnasium at Tsinghua."
  - url: /gallery/birdviewatmainbuildignattsinghua.jpg
    image_path: /gallery/birdviewatmainbuildignattsinghua-l.jpg
    alt: 
    title: "Bird view of Tsinghua campus"
  - url: /gallery/streetattsinghua.jpg
    image_path: /gallery/streetattsinghua-l.jpg 
    alt: 
    title: "Street at Tsinghua"
  - url: /gallery/streetattsinghu2.jpg
    image_path: /gallery/streetattsinghu2-l.jpg
    alt: 
    title: "Street at Tsinghua"
  - url: /gallery/lifesciencebuildingattsinghua.jpg
    image_path: /gallery/lifesciencebuildingattsinghua-l.jpg
    alt: 
    title: "The life science building of Tsinghua"
  - url: /gallery/poplaratxuetangroad.jpg
    image_path: /gallery/poplaratxuetangroad-l.jpg
    alt: 
    title: "The poplars at XueTang road of Tsinghua"
  - url: /gallery/ucenter.jpg
    image_path: /gallery/ucenter-l.jpg
    alt: 
    title: "The U-Center at Wudaokou"
gallery5:
  - url: /gallery/Ang_Thong_Marine_park.jpg
    image_path: /gallery/Ang_Thong_Marine_park-l.jpg
    alt: 
    title: "views from the top island in Ang Thong Marine park"
  - url: /gallery/Ang_Thong_Marine_park2.jpg
    image_path: /gallery/Ang_Thong_Marine_park2-l.jpg
    alt: 
    title: "Lakes inside a mountain on a island"
  - url: /gallery/Koh_Pha_Ngan.jpg
    image_path: /gallery/Koh_Pha_Ngan-l.jpg
    alt: 
    title: "Koh Pha Ngan"
---

{% include base_path %}
Here are some photos I take.
{% include gallery id="gallery5" class="full" caption="Koh Samui" %}
{% include gallery class="full" caption="Chinese Country side" %}
{% include gallery id="gallery2" class="full" caption="GreatWall" %}
{% include gallery id="gallery3" class="full" caption="Doggy" %}
{% include gallery id="gallery4" class="full" caption="Incredible view of Tsinghua Campus" %}
